@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,800,900&display=swap');
:root {
    --orange: #e24e2a;
    --brown: #383838; /* rgb(56, 56, 56) */
    --green: #538d6a;
    --gray: #ececec;
    --text: #555555;
    --white: #fff;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: auto;
}

.container::after {
    display: block; 
    clear: both;
    content: "";
}

button {
    font-size: .7rem;
    border: none;
    padding: 10px 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/**************
nav
**************/

nav {
    padding: 20px;
}

.logo {
    color: var(--text);
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 800;
    float: left;
    padding-right: 10px;
    border-right: 2px solid var(--gray);
    
}
.container p {
    padding-left: 10px;
    padding-top: 10px;
    font-size: .7rem;
    letter-spacing: 1px;
    float: left;
}

nav ul {
    float: right; 
}

nav ul li {
    display: inline-block;
}

nav ul li button {
    background: var(--gray);
    color: var(--text);
    text-align: center;
}

nav ul li button:hover {
    color: var(--white);
    background-color: var(--orange);
}

/**************
header & about
**************/

header {
    background-image: linear-gradient(rgba(56, 56, 56, .7), rgba(56, 56, 56, .7)), url(header.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    background-color: var(--orange);
}

.header-text p {
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    padding: 60px 80px;
}

/**************
Services
**************/

.services {
    color: var(--white);
    text-align: center;
}

.services article {
    width: 25%;
    float: left;
    background: var(--brown);
    padding-bottom: 40px;

}

.services h2 {
    font-size: .9rem;
    padding: 20px;
}

.services p {
    border-top: 2px solid var(--text);
    padding: 20px;
    line-height: 1.5;
    font-size: .8rem;
    color: var(--white);
    opacity: .7;
}

.services a i {
    background-color: var(--orange);
    color: white;
    padding: 30px;
    border-radius: 50%;
    font-size: 1.5rem;
    height: auto;
}

.services .col {
    padding: 70px 30px;
}

/**************
cta
**************/

.cta {
    text-align: center;

}

.cta article {
    margin: auto;
    display: inline-block;
    margin: auto;
    padding: 70px;
}

.cta article h2 {
    font-size: 1.6rem;
    color: var(--text);
    letter-spacing: 2px;
    
}

.cta article p {
    font-size: .8rem;
    color: var(--text);
    text-transform: uppercase;
    padding: 10px 0 20px; 
}

.cta article button {
    background-color: var(--green);
    color: var(--white);

}

.cta article button:hover {
    color: var(--white);
    background-color: var(--text);
}

/**************
gallery
**************/

.gallery {
    background-color: var(--brown);
}

.gallery h2 {
    font-size: 1.6rem;
    color: var(--white);
    letter-spacing: 2px;
    text-align: center;
    padding-top: 70px;
}

.gallery ul li {
    float: left;
    width: 25%;
    list-style: none;
}

.gallery ul li img {
    width: 100%;
    padding: 30px 30px 70px 30px;
}

footer {
    background: var(--green);
    text-align: center;
    color: var(--white);
    padding: 70px;
    font-weight:400;
}


/**************
footer
**************/

@media(max-width: 768px) {
   .logo {
       float: none;
       display: block;
       text-align: center;
       margin: auto;
       border-right: none;
       border-bottom: 2px solid var(--gray)
   }

   .container p {
    text-align: center;
    float: none;
    padding-top: 0;
   }

   nav ul {
       float: none;
       text-align: center;
   }

   nav ul li {
       display: block;
       margin: auto;
   }

   nav ul li button {
    width: 200px;
    margin: 2px;
}

   header {
       width:100%;
   }

   .services article {
       width: 100%;
   }

   .services p {
       border-top: none;
   }

   .gallery ul li {
       width: 100%;
   }
}


